.slide-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 200px;
}
.slide-container img{
    width: 10%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(248, 255, 33);
    transition: all ease-in-out 0.5s;
}
.slide-container img:hover{
    width: 20%;
    height: 300px;
}
