.header{
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    margin-right: 70px;
}
.header h1{
    color: yellow;
    
}
.header-menu{
    display: flex;
    gap: 50px;
    color: yellow;
}
li{
    list-style: none;
    gap: 10px;
}